@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa-regular.woff2") format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa-light.woff2") format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa-medium.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa-semibold.woff2") format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/comfortaa-bold.woff2") format('woff2');
    font-weight: 700;
}